.ui.input {
	input {
		background-color: #f1f1f1 !important;
		background-color: #f1f1f1 !important;
		border-radius: 10px !important;
		margin-top: 10px;

		&:focus {
			background-color: #fff !important;
			border-color: #fff !important;
			box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
			-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1) !important;
		}
	}
}
